<md-card layout="column">
    <div flex>
        <div flex layout="row">
            <div flex="stretch"></div>
            <div flex style="text-align: right">
                <md-button class="md-raised" ng-click="vm.showCustomerDialog($event)">Add Customer</md-button>
            </div>
        </div>
    </div>
    <div ng-if="vm.customers.length == 0" flex style="text-align: center">
        <md-card>
            <h3>No Customers Added Yet</h3>
        </md-card>
    </div>
    <md-list flex>
        <md-list-item ng-repeat="customer in vm.customers | filter:vm.query" layout="row">
            <md-list-item-text class="customer-list-item" flex layout="row">
                <div flex>
                    <div layout="row">
                        <h4 flex>{{customer.name}}</h4>
                        <div flex>
                            <a href="#"><i class="material-icons">edit</i></a>
                            <a href="#" ng-click="vm.deleteCustomer(customer)"><i class="material-icons">delete</i></a>
                        </div>
                    </div>
                    <address>
                        {{customer.address}}<br>
                        {{customer.city}} {{customer.province}} <br>
                        {{customer.postalCode}}
                    </address>
                </div>
                <div flex>
                    <div layout="row">
                        <h4 flex>Contacts</h4>
                        <div flex>

                        </div>
                    </div>
                    <div ng-if="!customer.contacts || customer.contacts.length === 0">
                        <a href="#" ng-click="vm.showContactDialog($event, customer)">Add a Contact <i class="material-icons">add</i></a>
                    </div>
                    <div layout="row">
                    <md-input-container flex>
                        <md-select ng-if="customer.contacts && customer.contacts.length > 0" flex ng-model="customer.selectedContact" ng-model-options="{trackBy: '$value._id'}"
                                   placeholder="Contacts">
                            <md-option ng-value="contact" ng-repeat="contact in customer.contacts">{{ contact.firstName }} {{ contact.lastName }} - {{
                                contact.phone }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container ng-if="customer.contacts && customer.contacts.length > 0" flex>
                        <a href="#" ng-click="vm.deleteContact(customer)"><i class="material-icons">delete</i></a>
                        <!--<a href="#"><i class="material-icons">call</i></a>-->
                        <a href="#" ng-click="vm.showContactDialog($event, customer)"><i class="material-icons">add</i></a>
                    </md-input-container>
                    </div>
                </div>
                <br>
                <md-divider ng-if="!$last" flex="100"></md-divider>
            </md-list-item-text>

        </md-list-item>
    </md-list>
</md-card>